.banner {
  position: relative;
  color: white;
  object-fit: contain;
  height: 448px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner_contents_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner_contents {

  margin-left: 50px;
  margin-top: 65px;

  width: 100%;
}

.banner_title {
  font-size: 4em;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, .45)
}

.banner_discreption {
  width: 45rem;
  line-height: 1.3;
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 340px;
  height: 80px;

  text-shadow: 2px 2px 4px rgba(20, 20, 20, .45);

}

.banner_buttons {
  width: 100%;
  display: flex;

  justify-content: flex-start;
  align-items: center;

}

.banner_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.8rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.8rem;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(20, 20, 20, .45);

}

.banner_button:first-child {
  background-color: #e50914;

}

.banner_button:first-child:hover {
  background-color: #b40009;
  color: #eee;

}

.banner_button span {
  margin-left: 5px;

}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.4s;

}

.banner_fadebottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.1), #181818);
}

.banner_tariler_close_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_tariler_close_button .banner_button {
  position: absolute;

}



@media(max-width:600px) {
  .banner {
    display: flex;
    align-items: flex-end;
    background-attachment: scroll;
    height: 600px;
    justify-content: center;
  }

  .banner_title {
    font-size: 2rem;
    text-align: center;
  }

  .banner_contents_container {
    justify-content: center;
    align-items: flex-end;
  }

  .banner_contents {
    margin-left: 0;
    padding-top: 0;

    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner_youtube {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }

  .banner_tariler_close_button .banner_button {
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .banner_buttons {
    justify-content: center;
  }
}