.banner {
  position: relative;
  color: white;
  object-fit: contain;
  height: 448px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.banner_contents {
  margin-left: 50px;
  padding-top: 140px;
  height: 190px;

  width: 700px;
}
.banner_title {
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(20,20,20,.45)
}
.banner_discreption {
  width: 45rem;
  line-height: 1.3;
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 340px;
  height: 80px;
  transition: transform 450ms;
  text-shadow: 2px 2px 4px rgba(20,20,20,.45);

}
.banner_discreption:hover {
  overflow-y: scroll;
  transform: scale(1.09);


}
.banner_button {
  display: inline-flex;
justify-content: center;
align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5vw;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 1rem;
  padding-top: 0.8rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.8rem;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(20,20,20,.45)

}
.banner_button:first-child{
  background-color: #e50914;

}
.banner_button:first-child:hover{
  background-color: #b40009;
  color:#eee ;

}
.banner_button span{
 margin-left: 5px;

}
.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.4s;
}
.banner_fadebottom{
  width: 100%;
  height: 7.4rem;
  background-image: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.1),#181818);
}

@media(max-width:600px){
.banner{
  display: flex;
  align-items: flex-end;
  background-attachment:scroll;
  height: 600px;
  justify-content: center;
}
.banner_title{
font-size: 2rem;
}

.banner_contents{
  margin-left: 0;
  padding-top: 0;
  width: 350px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_fadebottom{
  
  position: absolute;
}


}


 
