

.login_container{
    position: relative;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/2341e349-a6fc-4b04-a0ad-9b21defa1f88/IN-en-20220307-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;
  background-position: top;
    
    object-fit: contain;


    height: 100vh;
}

.popup_login{
   
    display: flex;
    justify-content: center;
    align-items:baseline;
    position:absolute;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner_login{
    border-radius: 4px;
    position: relative;
    padding: 50px;
    margin-top: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
}
 .sigh_in{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 20px;
 }

.input{
    
    width: 100%;
    margin: 10px 0;
  
    height: 50px;
    background-color: #333;
    outline: none;
    border: none;

    border-radius: 5px;
}
.popup_inner_login button{

    width: 100%;
    padding: 15px;
    margin-top: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1rem;
    background-color: #e50914;
    color: #eee;

    cursor: pointer;
}
.remember{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}
.remember label,a {
    margin-top: 20px;
    cursor: pointer;

}

.remember a{

    text-decoration: none;
    color: #eee;
}



