.nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    padding: 20px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    
}
.nav_logo{
    position: fixed;
    object-fit: contain;
    width: 120px;
    left: 50px;

}
.nav_logo_small{
    display: none;
    position: fixed;
    object-fit: contain;
    width: 20px;
    left: 30px;
    top: 17px;
}
.nav_avatar{
    position: fixed;

    object-fit: contain;
    width: 30px;
    right: 50px;

}
.nav_black{
    background-color: #111;

}
@media(max-width:600px){

   
    .nav_logo_small{
        display: block;
    }
    .nav_logo{
        display: none;
    }
    .nav_avatar{
   
        right: 30px;
    
    }
}